*
{
    margin: 0;
    padding: 0;
    font-family: consolas, sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f8f8f8;
}
.inputBox
{
    position: relative;
    width: 450px;
}
.inputBox h2
{
    font-size: 28px;
    color: #333
}
.inputBox input
{
    position: relative;
    width: 100%;
    height: 60px;
    border: none;
    margin: 15px 0 20px;
    background: transparent;
    outline: none;
    padding: 0 20px;
    fontsize: 24px;
    Letter-spacing: 4px;
    box-sizing: border-box;
    border-radius: 8px;
    color: #333;
}
.inputBox input::placeholder
{
    Letter-spacing: 0px;
}
.inputBox #btn
{
    background: red;
    border: none;
    border-radius: 25px;
    color: snow; // Vanilla HTML color name
cursor: pointer;
    fontsize: 24px;
    letter-spacing: .1em;
    outline: none;
    padding: 10px 15px;
    position: relative; // Required for pseudo-element positioning
text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
}

.inputBox #btn:before
{
    background: #333;
    border-radius: inherit;
    content: '';
    filter: blur(10px); // Controls the extent of the initial glow
opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1; // Set behind primary button
}

inputBox #btn:active
{
    background: red;
}

